.main {
  section {
    overflow: hidden;
    text-align: center;
  }
}

.technologies {
  height: 100vh;

  &__title {
    font-family: $header-font;
    font-size: 30px;
    margin: 35px 0;
  }

  &__ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 300px;
  }

  &__li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    flex-basis: 12%;
    height: 120px;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(46, 41, 78, .15);
    border-radius: 10%;
    margin-bottom: 20px;
  }

  &__icon {
    width: 65px;
  }
}

.about {
  height: 100vh;
  position: relative;


  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 40vw;
    transform: translate(-50%, -50%);
    color: $main-text-color;
  }

  &__header {
    font-family: $header-font;
    font-size: 30px;
    margin: 20px;
    text-transform: uppercase;
  }

  &__text {
    line-height: 150%;
    font-size: 24px;
    text-align: justify;
    padding: 10px;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(46, 41, 78, .15);
    border-radius: 3%;
  }

  &__sfi {
    text-decoration: underline;
    color: $main-text-color;
  }
}

.setup {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__photo {
    width: 800px;
    margin-left: 100px;
  }

  &__description {
    color: $main-text-color;
  }

  &__header {
    font-size: 30px;
    font-family: $header-font;
    margin: 20px;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    line-height: 150%;
    font-size: 24px;
    text-align: justify;
    padding: 10px;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(46, 41, 78, .15);
    border-radius: 3%;
  }
}